tr{
    height:40px;
}
.left{
    padding: 0px 0px 0px 30px;
}
.right{
    text-align: right;
}
.name {
    font-size: 18px;
    color: darkblue;
    font-weight: bold;
}

.modal-footer {
    text-align: center;
}

.modal-footer button {
    display: inline-block;
}

.right_bt_css {
    float: right;
}

.title_span_css {
    font-size: 16px;
    font-weight: bolder;
}

.table_mod {
    border-collapse: separate !important;
}


.my_b {
    width: 50%;
}

.input-group-btn {
    max-width: 30px;
    max-height: 30px;
    text-align: center;
}

.price_single {
    font-size: 1.38462em;
    font-size: 20px;
}

.price_b {
    background: #fff3b5;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    font-size: 1.38462em;
    font-size: 20px;
}

.price_all_b {
    background: #fff3b5;
    border-radius: 4px;
    display: inline-block;
    vertical-align: middle;
    white-space: nowrap;
    border: 1px solid transparent;
    font-size: 1.38462em;
    font-size: 20px;
}

.glyphicon {
    right: 5px;
}