
@import url('reset.css');

/* General Demo Style */
body .body_slide{
	background:#edeae2 url(../images/cardboard.jpg) repeat top left;
	color:#000;
	font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, sans-serif;
	font-size:13px;
	min-height:800px;
}
a{
	color:#000;
	text-decoration:none;
}
.clr{
	clear:both;
}
.wrapper{
	width:90%;
	margin:30px auto;
}
.wrapper p{
    font-family:Georgia, serif;
    font-style:italic;
    padding:30px 0px 10px 0px;
    text-align:center;
}


