.item_company {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */
    box-shadow: 2px 2px 4px 2px #ccc;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 6px;
    height: 300px;
    overflow: hidden;

}
.carentFindCompany:hover .item{
    height: auto;
    overflow: auto;
}

.shop_show{
    border: solid 1px grey;
    margin: 3px;
    cursor: pointer;
}

.company_img{
    height: 228px;
    overflow: hidden;
    position: relative;
}
.company_img a{
    display: block;
    height: 100%;
    text-align: center;
}
.company_img a img{
    max-height: 100%;
}