

.product_img{
    height: 228px;
    overflow: hidden;
    position: relative;
}
.product_img a{
    display: block;
    height: 100%;
    text-align: center;
}
.product_img a img{
    max-height: 100%;
}


.carentFindProduct:hover .item{
    /*height: auto;*/
    /*overflow: auto;*/
}

.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */
    box-shadow: 2px 2px 4px 2px #ccc;
    border: 1px solid rgb(193, 193, 193);
    border-radius: 6px;
    height: 400px;
    overflow: hidden;

}

.span_title p{
    float: right;
}
.span_title{
    font-weight: 600;
}

.testimonials{
    float: right;

}
.activ{
    z-index: 9999999999;
    position: relative;
    transition: all 0.4s ease-out;
    transform: scale(1.1);
}

.activ .item{
    height: auto;
    overflow: auto;
}


.activ .product_description{
    display: block;
}

.activ  .product_content{
    display: block;
}

.shop_name{
    font-size: 16px;
}
.shop_name span:hover{
    color: red;
}
.product_name a{
    color: #3e77aa!important;
    font-size: 16px;
}
.product_name:hover{
    color: red;
}
.price{
    background: #fff3b5;
    border-radius: 4px;
    display: inline-block;
    padding: 7px 7px 5px;
    vertical-align: middle;
    margin-bottom: 5px;
    white-space: nowrap;
    border: 1px solid transparent;
    font-size: 1.38462em;
}
.stars{
    background-image: url(/img/system/star.png);
    background-repeat: repeat-x;
    width: 81px;
    height: 20px;
    display: inline-block;
}
.like{
    background-image: url(/img/system/like.png);
    width: 50%;
    background-repeat: no-repeat;
    height: 31px;
    float: right;
    margin: 2px;
    display: block;
}
.like:hover{
    background-image: url(/img/system/like1.png);
}
.product_content{
    display: none;
}
.product_description{
    display: none;
}
