
body{
    background:#edeae2 url(../images/cardboard.jpg) repeat top left;
    color:#000;
    font-family: 'PT Sans Narrow', 'Arial Narrow', Arial, sans-serif;
    font-size:13px;
    min-height:800px;
}

.category_title{
    box-shadow: 3px 3px 7px 0 rgba(105, 206, 95, .5), inset 0 -1px 0 0 #3a9731;
    background: #4bbe3f;
    text-align: center;
    padding: 7px 0px 7px 0px;
    color: white;
    font-size: 1.38462em;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, .3);
    border: solid 1px #3eaa33;
    border-radius: 3px;
    font-weight: bolder;
}
.category_list_navigation{
    padding-right: 0px!important;
    padding-left: 0px!important;
    z-index: 1000;
}
.span_category{
    float: right;
    color: #b9b8b8;
}
.category_parent_list{
    box-shadow: 3px 3px 7px 0 rgba(200, 200, 200, .5);


    cursor: pointer;

}
.list{
    font-family: Arial, Helvetica, FreeSans, "Liberation Sans", "Nimbus Sans L", sans-serif;
    padding: 6px 6px 6px 0;
    font-size: initial;
    background: #fcfcee;
    white-space: nowrap;
    line-height: 18px;
    color: #3e77aa;
    display: block;
    padding-left: 14px;
    border: 1px solid #ededed;
}
.list a{
    display: block;
    color: #000;
    text-decoration: none;
    background: url("../img/system/next.png") no-repeat 100% center;
}


.show-product {
    cursor: pointer;
}
.shop_show{
    cursor: pointer;
}
.register_right{
    padding-top: 0px!important;
    text-align: left!important;
}
a:hover {
    text-decoration: none!important; /* Отменяем подчеркивание у ссылки */
}


/* Элементы в виде плиток с содержанием */
.item {
    display: inline-block;
    background: #fff;
    padding: 1em;
    margin: 0 0 1.5em;
    width: 100%;
    box-sizing: border-box; /* Изменения алгоритма расчета ширины и высоты элемента.*/
    -moz-box-sizing: border-box; /* Для Firefox */
    -webkit-box-sizing: border-box; /* Для Safari, Chrome, iOS иAndroid */
    box-shadow: 2px 2px 4px 0 #ccc; /* Внешняя тень плиток */
}

/* Стили картинок, видое и фреймов внутри адаптивных плиток */
img, iframe {
    max-width: 100%;
    height: auto;
    display: block;
}

.galleryCategoryMenu{
    float:left;
    clear:both;
    width:100%;
}

.galleryCategoryMenu ul{
    float:left;
    width:100%;
    padding: 0%;
}

.galleryCategoryMenu ul li{
    border: 1px solid rgba(255, 255, 255, 0);
    background: azure;
    display: inline-block;
    width: 19%;
    height:80px;
    float:none;
    list-style-type:none;
    border-radius:4px;
    -webkit-box-shadow: 0px 1px 3px 0px rgba(2, 2, 2, 0.3);
    -moz-box-shadow:    0px 1px 3px 0px rgba(2, 2, 2, 0.3);
    box-shadow:         0px 1px 3px 0px rgba(2, 2, 2, 0.3);
    position: relative;

}




.galleryCategoryMenu ul li:hover{
    background: white;
    border-radius:4px;
    border: 1px solid red;
}


.galleryCategoryMenu ul li a{
    float: left;
    width: 100%;
    text-transform: uppercase;
    color:#4c4c4c!important;
    font-size: 16px;
    text-align:left;
}


.galleryCategoryMenu ul li a:hover{
    text-decoration: none!important;
    color: #DB2B1E!important;
    transition: all 0.6s ease;
}



